<div class="collapse navbar-collapse" id="sidenav-collapse-main">
    <!-- Collapse header -->
    <div class="navbar-collapse-header d-md-none">
        <div class="row">
            <div class="col-6 collapse-brand">
                <a asp-action="index" asp-controller="Dashboard">
                    <img src="~/argon-dashboard-master/assets/img/brand/blue.png">
                </a>
            </div>
            <div class="col-6 collapse-close">
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#sidenav-collapse-main" aria-controls="sidenav-main" aria-expanded="false" aria-label="Toggle sidenav">
                    <span></span>
                    <span></span>
                </button>
            </div>
        </div>
    </div>
    <!-- Form -->
    <form class="mt-4 mb-3 d-md-none">
        <div class="input-group input-group-rounded input-group-merge">
            <input type="search" class="form-control form-control-rounded form-control-prepended" placeholder="Search" aria-label="Search">
            <div class="input-group-prepend">
                <div class="input-group-text">
                    <span class="fa fa-search"></span>
                </div>
            </div>
        </div>
    </form>
    <!-- Navigation -->
    <ul class="navbar-nav">
        <li class="nav-item  active ">
            <a class="nav-link " asp-action="index" asp-controller="Dashboard">
                <i class="ni ni-tv-2 text-primary"></i> İstatistikler
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link " asp-action="index" asp-controller="feature">
                <i class="ni ni-planet text-blue"></i> Öne çıkan
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link  active " asp-action="index" asp-controller="skill">
                <i class="ni ni-pin-3 text-orange"></i> Yetenekler
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link " asp-action="index" asp-controller="about">
                <i class="ni ni-single-02 text-yellow"></i> Hakkımda
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link " asp-action="index" asp-controller="service">
                <i class="ni ni-bullet-list-67 text-red"></i> Hizmetler
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-action="index" asp-controller="portfolio">
                <i class="ni ni-key-25 text-info"></i> Projelerim
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-action="index" asp-controller="experience">
                <i class="ni ni-circle-08 text-pink"></i> Deneyimlerim
            </a>
        </li>

          <li class="nav-item">
            <a class="nav-link" asp-action="index" asp-controller="Testimonial">
                <i class="ni ni-circle-08 text-pink"></i> Referanslarım
            </a>
        </li>

          <li class="nav-item">
            <a class="nav-link" asp-action="index" asp-controller="contact">
                <i class="ni ni-circle-08 text-pink"></i> İletişim
            </a>
        </li>

         <li class="nav-item">
            <a class="nav-link" asp-action="index" asp-controller="message">
                <i class="ni ni-circle-08 text-pink"></i> Mesajlar
            </a>
        </li>
         <li class="nav-item">
            <a class="nav-link" asp-action="logout" asp-controller="LogIn">
                <i class="ni ni-circle-08 text-pink"></i> Oturumu kapat
            </a>
        </li>







    </ul>
</div>